<p-toast></p-toast>
<p-table
  #clientesTable
  [value]="clientes"
  [tableStyle]="{ 'min-width': '50rem' }"
  [globalFilterFields]="filterFields"
  [paginator]="true"
  [rows]="20"
>
  <ng-template pTemplate="caption">
    <div class="caption-table">
      <!-- Botón REGISTRAR -->
      <button
        pButton
        pRipple
        icon="pi pi-plus"
        class="p-button-raised p-button-text mr-2"
        style="color: #f78e00;"
        label="Registrar"
        [routerLink]="['/clientes/registro']"
      ></button>

      <div class="caption-filter">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              clientesTable.filterGlobal($any($event.target).value, 'contains')
            "
            placeholder="Rut, Cliente..."
          />
        </span>
        <!-- Botón LIMPIAR -->
        <button
          pButton
          pRipple
          icon="pi pi-filter-slash"
          class="p-button-raised p-button-text mr-2"
          style="color: #006c86"
          label="Limpiar"
          (click)="clear(clientesTable)"
        ></button>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="font-bold">ID</th>
      <th class="font-bold">RUT</th>
      <th class="font-bold">CLIENTE</th>
      <th class="font-bold">DIRECCIÓN</th>
      <th class="font-bold">TELÉFONO</th>
      <th class="font-bold">SITIO WEB</th>
      <th class="font-bold">ACCIONES</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-clientes let-i>
    <tr>
      <td>{{ clientes.id }}</td>
      <td>{{ clientes.rut }}</td>
      <td>{{ clientes.razon_social }}</td>
      <td>{{ clientes.direccion }}</td>
      <td>
        {{ clientes.telefono }}
      </td>
      <td>
        <a
          *ngIf="clientes.sitio_web"
          (click)="navegarSitioWeb(clientes.sitio_web)"
          >{{ clientes.sitio_web }}</a
        >
      </td>
      <td>
        <div class="flex">
          <p-button
            icon="bi bi-eye"
            label="Ver"
            styleClass="p-button-raised p-button-text p-button-info"
            [routerLink]="['/clientes', clientes.id, 'detalle']"
            class="mx-2"
          ></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
