<h4 class="pb-3">{{ title }}</h4>
  <form [formGroup]="form" >

    <div class="grid mb-3">
      <div class="col-12 flex flex-column gap-2">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            formControlName="codigo"
            autofocus
            placeholder="LA12345"
            [style]="{ width: '100%' }"
          />
          <label>Codigo*</label>
        </span>
        <!-- <small>Rut con puntos y con guión,
              <strong> Ej: 11.625.443-8</strong>
          </small> -->
      </div>
    </div>

    <div class="grid mb-3">
      <div class="col-12 flex flex-column gap-2">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            formControlName="servicio"
            placeholder="Banana Conector"
            [style]="{ width: '100%' }"
          />
          <label>Servicio*</label>
        </span>
      </div>

    </div>



    <div class="grid mb-3">
      <div class="col flex flex-column gap-2">
        <span class="p-float-label">
          <p-inputNumber
            placeholder="$ 199.123 *"
            formControlName="precio"
            prefix="$ "
            [style]="{ width: '100%' }"
            inputId="integeronly"
          >
          </p-inputNumber>
          <label>Precio*</label>
        </span>
      </div>
    </div>


    <div class="grid mb-4">
      <div class="col flex flex-column gap-2">
        <p-selectButton
          [options]="opcionesEstadoServicio"
          formControlName="estado"
          optionLabel="label"
          optionValue="value"
        >
        </p-selectButton>
      </div>
      <div class="col flex flex-column gap-2"></div>
    </div>

    <div class="flex">
      <p-button
        styleClass="mr-3"
        [disabled]="form.invalid"
        label="Guardar"
        (click)="submit()"
      ></p-button>
      <p-button
        label="Cancelar"
        styleClass="p-button-danger"
        (click)="cancel()"
      ></p-button>
    </div>
  </form>
