<div class="grid nested-grid">
  <div class="col-6">
    <div class="grid">
      <div class="col-12">
        <div class="">
          <label for="ac1">Username</label>
          <p-autoComplete inputId="ac1"></p-autoComplete>
        </div>
      </div>
      <div class="col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> Correo Electrónico </span>
          <p pInputText>Corsair Garage</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="grid">
      <div class="col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> Subrogante </span>
          <p pInputText>Scania</p>
        </div>
      </div>
      <div class="col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> Correo Electrónico</span>
          <p pInputText>Scania 123</p>
        </div>
      </div>
    </div>
  </div>
</div>
