

  <div class="p-fluid p-formgrid grid">

    <div class="field col-12 md:col-6">
      <label htmlfor="selecTec">Técnico</label>
      <p-dropdown
      placeholder="Seleccione Técnico"
      [options]="tecnicos!"
      optionLabel="nombre"
      [(ngModel)]="selectedTecnico"
      ></p-dropdown>
    </div>
    <div  class="field col-12 md:col-6">
      <label htmlfor="selecTec">Correo</label>
      <div *ngIf="selectedTecnico"  class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-at"></i>
        </span>
        <p pInputText> {{selectedTecnico.email}} </p>
      </div>
    </div>

    <div class="field col-12 md:col-6">
      <label htmlfor="selecSubrog">Subrogante</label>
      <p-dropdown
      placeholder="Seleccione Técnico"
      [options]="tecnicos!"
      optionLabel="nombre"
      [(ngModel)]="selectedSubrogante"
      ></p-dropdown>
    </div>
    <div  class="field col-12 md:col-6">
      <label htmlfor="selecSub">Correo</label>
      <div *ngIf="selectedSubrogante"  class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-at"></i>
        </span>
        <p pInputText> {{selectedSubrogante.email}} </p>
      </div>
    </div>
  </div>



