

  <div class="p-fluid p-formgrid grid">

    <div class="field col-12 md:col-6">
      <label htmlfor="selecTec">Técnico</label>
      <p-dropdown  ></p-dropdown>
    </div>
    <div  class="field col-12 md:col-6">
      <label htmlfor="selecTec">Correo</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-at"></i>
        </span>
        <p pInputText></p>
      </div>
    </div>

    <div class="field col-12 md:col-6">
      <label htmlfor="selecSubrog">Subrogante</label>
      <p-dropdown  ></p-dropdown>
    </div>
    <div  class="field col-12 md:col-6">
      <label htmlfor="selecTec">Correo</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-at"></i>
        </span>
        <p pInputText></p>
      </div>
    </div>
  </div>



