<form [formGroup]="form">
  <div class="grid mb-3">
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="razon_social"
          placeholder="Acis Sociedad LTDA."
          [style]="{ width: '100%' }"
        />
        <label>Nombre*</label>
      </span>
    </div>
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="rut"
          autofocus
          placeholder="19.109.516-2"
          [style]="{ width: '100%' }"
        />
        <label>Rut*</label>
      </span>
      <small
        >Rut con puntos y con guión,
        <strong> Ej: 11.625.443-8</strong>
      </small>
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="sitio_web"
          placeholder="www.example.com"
          [style]="{ width: '100%' }"
        />
        <label>Sitio Web*</label>
      </span>
    </div>
    <div class="col">
      <span class="p-float-label">
        <input
          type="number"
          pInputText
          formControlName="telefono"
          autofocus
          placeholder="973932259"
          [style]="{ width: '100%' }"
        />
        <label>Telefono*</label>
      </span>

    </div>
  </div>

  <div class="grid mb-3">
    <div class="col-6">
      <p-dropdown
              [options]="opcionesPais"
              optionLabel="nombre"
              [style]="{ width: '100%' }"
              placeholder="Seleccione pais"
              (onChange)="onPaisSelect($event)"
              [filter]="true"
              filterBy="nombre"
          ></p-dropdown>
    </div>
  </div>

  <app-ubicacion-form *ngIf="componentComunaRegion"  [initialComunaId]="cliente?.comuna?.id" (selectedComunaIdEvent)="handleSelectedComuna($event)"></app-ubicacion-form>

  <div class="grid mb-3">
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="direccion"
          placeholder="Av. Paivavi N° 1245"
          [style]="{ width: '100%' }"
        />
        <label>Direccion*</label>
      </span>
    </div>
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="codigo_postal"
          placeholder="403000"
          [style]="{ width: '100%' }"
        />
        <label>Codigo Postal</label>
      </span>
    </div>
  </div>

  <div class="flex">
    <p-button
        styleClass="mr-3"
        [disabled]="form.invalid"
        label="Guardar"
        (click)="submit()"
    ></p-button>
    <p-button
        label="Cancelar"
        styleClass="p-button-danger"
        (click)="cancelar()"
    ></p-button>
</div>

</form>
