<div class="card shadow-3" *ngIf="newCliente" >
  <h4>Registro Cliente</h4>
  <formulario-cliente (cancelEvent)="cancelEventCliente()" (submitEvent)="submitEventCliente($event)"></formulario-cliente>

</div>

<div class="card shadow-3">
  <h4>Registro OT</h4>
<form [formGroup]="form">
  <div class="grid mb-3">
    <div class="col-6">
      <span class="p-float-label">
        <input
          type="date"
          pInputText
          formControlName="fecha_inicio"
          [style]="{ width: '100%' }"
        />
      </span>
    </div>
    <div class="col-6">
      <app-client-selector [initialClientId]="clienteID" (selectedClientIdEvent)="handleSelectedClient($event)" (createClientEvent)="createCliente($event)" ></app-client-selector>
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col">
      <span class="p-float-label">
        <textarea
          rows="3" cols="20"
          pInputTextarea
          formControlName="observaciones"
          [autoResize]="true"
          [style]="{ width: '100%' }"
          ></textarea>
        <label>Observación*</label>
      </span>
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="marca_equipo"
          [style]="{ width: '100%' }"
        />
        <label>Marca Equipo*</label>
      </span>
    </div>
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="modelo_equipo"
          [style]="{ width: '100%' }"
        />
        <label>Modelo Equipo*</label>
      </span>
    </div>
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="serie_equipo"
          [style]="{ width: '100%' }"
        />
        <label>Serie Equipo*</label>
      </span>
    </div>
  </div>

  <div class="grid mb-3">
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="num_parte_componente"
          [style]="{ width: '100%' }"
        />
        <label>N° Parte Componente*</label>
      </span>
    </div>
    <div class="col">
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          formControlName="serie_componente"
          [style]="{ width: '100%' }"
        />
        <label>Serie Componente*</label>
      </span>
    </div>
  </div>
  <div class="flex">
    <p-button
      styleClass="mr-3"
      [disabled]="form.invalid"
      label="Guardar"
      (click)="submit()"
    ></p-button>

    <p-button
      label="Cancelar"
      styleClass="p-button-danger"
      (click)="cancel()"
    ></p-button>
  </div>

</form>
</div>
