
  <form [formGroup]="form" >
    <div class="grid mb-1">
      <div class="col-12 flex flex-column gap-1">
        <h3 class="p-0 m-0">Unidad</h3>
        <hr>
      </div>
    </div>
    <div class="grid mb-3">
      <div class="col-4 flex flex-column gap-2">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            formControlName="codigo"
            autofocus
            placeholder="LA12345"
            [style]="{ width: '100%' }"
          />
          <label>Codigo*</label>
        </span>
        <!-- <small>Rut con puntos y con guión,
              <strong> Ej: 11.625.443-8</strong>
          </small> -->
      </div>
    </div>

    <div class="grid mb-3">
      <div class="col-12 flex flex-column gap-2">
        <span class="p-float-label">
          <input
            type="text"
            pInputText
            formControlName="nombre"
            placeholder="Banana Conector"
            [style]="{ width: '100%' }"
          />
          <label>Nombre*</label>
        </span>
      </div>

    </div>

    <div class="grid mb-4">
      <div class="col flex flex-column gap-2">
        <p-selectButton
          [options]="opcionesEstadoUnidades"
          formControlName="estado"
          optionLabel="label"
          optionValue="value"
        >
        </p-selectButton>
      </div>
      <div class="col flex flex-column gap-2"></div>
    </div>


    <!-- subunidades -->
    <div class="flex align-items-center justify-content-center mb-1">
      <h3>Subunidad</h3>

    </div>
    <ng-container  formArrayName="subunidades">
        <ng-container class="mb-1" *ngFor="let subunidad of subunidades.controls; let i = index" [formGroupName]="i">
          <div class="p-inputgroup m-2">
            <!-- Utilizamos formGroupName para enlazar el FormGroup dentro del FormArray -->
            <input type="text" pInputText placeholder="codigo" class="mr-2" formControlName="codigo" />
            <input type="text" pInputText placeholder="nombre" formControlName="nombre" />
            <button type="button" pButton icon="pi pi-trash" (click)="deleteSubunidad(i)" class="p-button-danger"></button>
          </div>
        </ng-container>
    </ng-container>
    <div class="flex align-items-center justify-content-center m-4">
      <p-button icon="pi pi-plus" label="Registrar" styleClass="p-button-rounded p-button-help" (click)="addNewSubunidad()"></p-button>
    </div>


    <div class="flex">
      <p-button
        styleClass="mr-3"
        [disabled]="form.invalid"
        label="Guardar"
        (click)="submit()"
      ></p-button>
      <p-button
        label="Cancelar"
        styleClass="p-button-danger"
        (click)="cancel()"
      ></p-button>
    </div>
  </form>

