<!-- Ingreso -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Detalle Ingreso</span>
    </div>
  </ng-template>
  <div class="grid nested-grid">
    <div class="col-6">
      <div class="grid">
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Fecha y Hora </span>
            <p pInputText>20/20/2040</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Cliente </span>
            <p pInputText>Corsair Garage</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Observacion </span>
            <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" [disabled]="true"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="grid">
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Marca Equipo </span>
            <p pInputText>Scania</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Modelo Equipo </span>
            <p pInputText>Scania 123</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Serie Equipo </span>
            <p pInputText>12345dfr</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> N° Parte Componente </span>
            <p pInputText>123456</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Serie Componente </span>
            <p pInputText>Scania</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>
<!-- Tecnico -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Técnico</span>
    </div>
  </ng-template>
  <div class="grid nested-grid">
    <div class="col-6">
      <div class="grid">
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Responsable </span>
            <p pInputText>20/20/2040</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Correo Electrónico </span>
            <p pInputText>Corsair Garage</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="grid">
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Subrogante </span>
            <p pInputText>Scania</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Correo Electrónico</span>
            <p pInputText>Scania 123</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>

<!-- Seguimiento -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Seguimiento</span>
    </div>
  </ng-template>

  <seguimiento-ot [procesoOT]="procesoOT"></seguimiento-ot>

</p-fieldset>
<!-- informe -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Informe</span>
    </div>
  </ng-template>
  <div class="grid nested-grid">
    <div class="col-6">
      <div class="grid">
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Responsable </span>
            <p pInputText>20/20/2040</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Correo Electrónico </span>
            <p pInputText>Corsair Garage</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="grid">
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Subrogante </span>
            <p pInputText>Scania</p>
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Correo Electrónico</span>
            <p pInputText>Scania 123</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>

