<!-- Ingreso -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Detalle Ingreso</span>
    </div>
  </ng-template>
  <div class="grid nested-grid">
    <div class="col-6">
      <div class="grid">
        <div class="col-12 py-1">
          <div class="p-inputgroup " >
            <span class="p-inputgroup-addon widthLabelGroup"> Fecha y Hora </span>
            <p pInputText > {{ot?.fecha_inicio}} </p>
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon widthLabelGroup"> Cliente </span>
            <p pInputText> {{ot?.cliente?.nombre}} </p>
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon widthLabelGroup"> Observacion </span>
            <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" [disabled]="true"> {{ot?.observaciones}} </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="grid">
        <div class="col-12 py-1">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon widthLabelGroup"> Marca Equipo </span>
            <p pInputText> {{ot?.marca_equipo}} </p>
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon widthLabelGroup"> Modelo Equipo </span>
            <p pInputText> {{ot?.modelo_equipo}} </p>
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon widthLabelGroup"> Serie Equipo </span>
            <p pInputText> {{ot?.serie_equipo}} </p>
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon widthLabelGroup"> N° Parte Componente </span>
            <p pInputText> {{ot?.num_parte_componente}} </p>
          </div>
        </div>
        <div class="col-12 py-1">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon sm widthLabelGroup"> Serie Componente </span>
            <p pInputText> {{ot?.serie_componente}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>

<!-- Tecnico -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Técnico</span>
    </div>
  </ng-template>
  <tecnico-ot></tecnico-ot>
</p-fieldset>

<!-- Seguimiento -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Seguimiento</span>
    </div>
  </ng-template>

  <seguimiento-ot [procesoOT]="procesoOT"></seguimiento-ot>

</p-fieldset>
<!-- informe -->
<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Informe</span>
    </div>
  </ng-template>
  <informe-ot></informe-ot>
</p-fieldset>

