<p-fieldset>
  <ng-template pTemplate="header">
    <div class="flex align-items-center text-primary">
      <span class="pi pi-comment mr-2"></span>
      <span class="font-bold text-lg">Detalle Ingreso</span>
    </div>
  </ng-template>
  <div class="grid nested-grid">
    <div class="col-6">
      <div class="grid">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> Observacion </span>
          <p pInputText>esta es una observacion</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="grid">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> Marca </span>
          <p pInputText>username</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="grid">
        <div class="col-6">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Fecha y Hora </span>
            <p pInputText>12/20/2023</p>
          </div>
        </div>
        <div class="col-6">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"> Marca </span>
            <p pInputText>username</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-fieldset>

<!--

<div class="col-12 py-1">
  <div class="grid">
    <div class="col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"> Observacion </span>
        <p pInputText>esta es una observacion</p>
      </div>
    </div>
    <div class="col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"> Marca </span>
        <p pInputText>username</p>
      </div>
    </div>
  </div>
</div>
<div class="col-12 py-1">
  <div class="grid">

    <div class="col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"> Marca </span>
        <p pInputText>username</p>
      </div>
    </div>

    <div class="col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"> Marca </span>
        <p pInputText>username</p>
      </div>
    </div>
  </div>
</div> -->
