<p-toast></p-toast>
<p-table
    #productosTable
    [value]="productos"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="filterFields"
    [paginator]="true"
    [rows]="7"
>
    <ng-template pTemplate="caption">
        <div class="caption-table">
            <!-- Botón REGISTRAR -->
            <button pButton pRipple
                icon="pi pi-plus"
                class="p-button mr-2"
                style="background-color:#F78E00"
                label="Registrar"
                [routerLink]="['/catalogo/productos/registro']">
            </button>

            <div class="caption-filter">
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"
                        (input)="productosTable.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Rut, nombre, apellido..." />
                </span>
                <!-- Botón LIMPIAR -->
                <button pButton pRipple
                    icon="pi pi-filter-slash"
                    class="p-button-outlined mr-2"
                    style="color: #006C86;"
                    label="Limpiar"
                    (click)="clear(productosTable)">
                </button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="font-bold">Cod</th>
            <th class="font-bold">Imagen</th>
            <th class="font-bold">Modelo</th>
            <th class="font-bold">Nombre</th>
            <th class="font-bold">fabricante</th>
            <th class="font-bold">Estado</th>
            <th class="font-bold">Precio</th>
            <th class="font-bold">Stock</th>
            <th class="font-bold">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productos let-i>
        <tr>
            <td>{{productos.codigo}}</td>
            <td>
              <p-image
               [src]="productos.imagen" alt="Image" width="65" ></p-image>
            </td>
            <td>{{productos.modelo}}</td>
            <td>{{productos.nombre}}</td>
            <td>{{productos.fabricante.nombre}}</td>
            <td><p-tag [value]="productos.estado ? 'Activo': 'Inactivo'" [severity]="productos.estado ? 'success': 'danger'"></p-tag></td>
            <td>{{productos.precio}}</td>
            <td>{{productos.stock}}</td>
            <td>
                <div class="flex">
                    <!-- Botón VER DETALLE -->
                    <button pButton pRipple
                        icon="pi pi-search"
                        class="p-button-rounded mr-1"
                        style="background-color:#006C86;"
                        (click)="show(i.id)"
                        >
                    </button>
                    <button pButton pRipple
                        icon="pi pi-pencil"
                        (click)="editar(i.id)"
                        class="p-button-rounded mr-1"
                        style="background-color:#0d9135;"

                        >
                    </button>
                    <p-confirmDialog [key]=i.id.toString() acceptButtonStyleClass="p-button-text p-button-danger" rejectButtonStyleClass="p-button-text "></p-confirmDialog>
                    <button pButton pRipple
                        (click)="eliminar($event, i.id)"
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger mr-1"
                    >
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
