<div class="grid nested-grid">
  <div *ngIf="procesoOT" class="col-12">
    <p-table [value]="procesoOT">
      <ng-template pTemplate="header">
        <tr >
          <th>ID</th>
          <th style="min-width: 150px;">Proceso</th>
          <th >Actividades</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proceso>
        <tr >
          <td class="py-0">{{ proceso.id }}</td>
          <td class="py-0">
            <p-checkbox
              name="group"
              [value]="proceso"
              [(ngModel)]="selectedProcess"
              [inputId]="'proceso_' + proceso.id"
              (onChange)="toggleProcessSelection(proceso, $event)"
              [disabled]="disableProcess"
              ></p-checkbox>
            <label [for]="'proceso_' + proceso.id" class="px-2">{{ proceso.nombre }}</label>
          </td>
          <td class="pb-0">
            <div class="grid flex flex-wrap align-content-center ">
              <div class="field-checkbox mb-1" *ngFor="let actividad of proceso.actividades">
              <div class="col ">
                  <div class="">
                    <p-checkbox
                      name="group"
                      [value]="actividad"
                      [(ngModel)]="selectedActivity"
                      [inputId]="'actividad_' + actividad.id"
                      (onChange)="toggleActivitySelection(actividad)"
                      [disabled]="isActivityDisabled(actividad) || disableProcess"
                      ></p-checkbox>
                    <label [for]="'actividad_' + actividad.id" class="px-2">{{ actividad.nombre }}</label>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="flex justify-content-end">
  <p-button icon="pi pi-check" (click)="saveSeguimiento(idOT!)" label="Guardar" [disabled]="disableSeguimiento" styleClass="p-button-raised p-button-text p-button-success m-1"></p-button>
  <p-button icon="pi pi-pencil" (click)="editSeguimiento()" label="Editar"  styleClass="p-button-raised p-button-text p-button-info m-1"></p-button>
</div>
